.App {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.container {
  height: 10%;
  width: 100%;
  display: flex;
}

.div1 {
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.div1 h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.div2 {
  height: 100%;
  width: 60%;
  ;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div2 ul li {
  list-style: none;
  font-size: 1.2rem;
  margin: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: capitalize;

}

.div2 ul {

  font-size: 1.2rem;
  display: flex;

}

/*------------------body part ------------*/


.bodydiv {
  height: 70%;
  width: 100%;
  background-image: url('https://images.unsplash.com/photo-1578589335615-9e804277a5af?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1173&q=80');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bodydiv img {
  height: 100%;
  width: 100%;

}

.bodypart {

  height: 70%;
  width: 60%;
  left: 20%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bodypart h2 {
  color: rgb(216, 212, 212);
  font-size: 2rem;
  font-family: 'Courier New', Courier, monospace;
}

.bodypart p {
  color: rgb(251, 251, 251);
  font-size: 1rem;
  font-family: 'Courier New', Courier, monospace;
}

.bodypart button {
  margin-top: 20px;
  height: 30px;
  width: 100px;
  border-radius: 1rem;
  color: white;
  background-color: blue;
}

.bodyh2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.3rem;
  margin-top: 1rem;
  text-align: center;
}

/*-----------midddle div------*/
.miidlediv {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.middiv1 {
  height: 50px;
  width: 50px;
  background-color: rgb(132, 138, 255);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.middiv1 img {
  height: 20px;
  width: 20px;
}

.middlemaindiv {
  height: 40%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 60px;
}

.middiv2 {
  margin-top: 20px;
}

.middiv3 {
  padding: 2rem;
  text-align: center;
}

.middiv4 button {
  border: none;
  color: blue;
}


/*---------middlepart 2--------*/

.middlepart2 {
  margin-top: 80px;
  height: 300px;
  width: 100%;
  background-image: url('https://images.unsplash.com/photo-1503536882745-fa1ce53c4928?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.middledivpart2part1 {
  height: 100%;
  width: 30%;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.imgdivmiddlepart {
  height: 30%;
  width: 20%;
}

.imgdivmiddlepart img {
  height: 80%;
  width: 100%;
  border-radius: 1rem;
}

/*--------footer--------------*/
.footer {
  height: 300px;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footerpart1 {
  height: 100%;
  width: 30%;
}

.footerpart1 h3 {
  font-size: 1.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 1rem;
  color: white;
}
.footerpart1 p {
  font-size: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 1rem;
  color: white;
}

.footerpart2 {
  height: 100%;
  width: 30%;
  background-color: rgb(255, 38, 0);
}

.footerpart3 {
  height: 100%;
  width: 30%;
  background-color: rgb(51, 0, 255);
}